.cm_hand_prod {
  overflow: hidden;
}

.cm_hand_prod .cm_container_wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  padding-top: 200px;
}

.cm_hand_prod .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
  justify-content: space-between;
}

.cm_hand_prod .cm_hand_prod_left {
  width: 40%;
  padding: 0 20px;
}

.cm_hand_prod .cm_hand_prod_right {
  width: 60%;
  padding: 0 20px;
  position: relative;
  margin-bottom: 30px;
}

.cm_hand_prod .cm_hand_prod_right > div {
  position: relative;
  z-index: 1;
}

.cm_hand_prod .cm_hand_prod_right .cm_image_wrap {
  padding: 30px 0;
}

.cm_hand_prod .cm_hand_prod_left .cm_content {
  padding: 25px 0;
}

.cm_hand_prod .cm_hand_prod_right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 1000%;
  height: 100%;
}

.cm_hand_prod .cm_hand_prod_right:after {
  z-index: 0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 25%;
  border-radius: 50% 0px 0px 130px;
}

.cm_hand_prod .cm_card_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0px;
}

.cm_hand_prod .cm_card_wrap .cm_card_item {
  box-shadow: 10px 4px 60px rgba(0, 0, 0, 0.05), 6px 6px 40px rgba(0, 0, 0, 0.16);
  border-radius: 21px;
  padding: 30px 25px;
  width: 30%;
  max-width: 165px;
  margin-left: 45px;
  transform: translateY(30px);
}

.cm_hand_prod .cm_card_wrap .cm_card_item .cm_icon_wrap {
  text-align: center;
}

.cm_hand_prod .cm_card_wrap .cm_card_item .cm_text {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}


@media (max-width: 991px) {
  .cm_hand_prod .cm_container_wrap {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .cm_hand_prod .cm_container_wrap {
    padding-top: 0;
    background-image: none !important;
  }

  .cm_hand_prod .cm_hand_prod_right {
    width: 100%;
    order: 1;
  }

  .cm_hand_prod .cm_hand_prod_left {
    width: 100%;
    order: 2;
    text-align: center;
  }

  .cm_hand_prod .cm_card_wrap {
    display: block;
    margin-top: -160px;
  }

  .cm_hand_prod .cm_card_wrap .cm_card_item {
    margin: 0 auto;
    width: 165px;
    margin-bottom: 40px;
  }

  .cm_hand_prod .cm_hand_prod_right:before,
  .cm_hand_prod .cm_hand_prod_right:after {
    display: none;
  }

  .cm_hand_prod .cm_hand_prod_right .cm_image_wrap:before {
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 1000%;
  }

  .cm_hand_prod .cm_hand_prod_right .cm_image_wrap:after {
    border-radius: 50% 0 0 130px;
    content: "";
    height: 100%;
    left: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  
  .cm_hand_prod .cm_hand_prod_right .cm_image_wrap {
    padding: 0 0 200px;
  }
  
  .cm_hand_prod .cm_hand_prod_right .cm_image_wrap img {
    position: relative;
    z-index: 1;
  }
}