<!--
templateType: page
isAvailableForNewContent: true
label: Home Page
screenshotPath: ../images/template-previews/home-new.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">

  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}
  
    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "0px",
            "left" : "0px",
            "right" : "0px",
            "top" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Grocery store",
            offset=0,
            width=12,
            add_grocery_item=[ {
              "image" : {
                "alt" : "Tomatoes",
                "height" : 250,
                "src" : get_asset_url('../images/Tomatoes.png'),
                "width" : 328
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "price" : 9,
              "title" : "Tomatoes"
            }, {
              "image" : {
                "alt" : "Carrots",
                "height" : 276,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/Carrots.png'),
                "width" : 328
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "price" : 7.99,
              "title" : "Carrots"
            }, {
              "image" : {
                "alt" : "Cabbage",
                "height" : 228,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/Cabbage.png'),
                "width" : 292
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "price" : 6.79,
              "title" : "Cabbage"
            }, {
              "image" : {
                "alt" : "Fresh Orange",
                "height" : 216,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/Fresh-Orange.png'),
                "width" : 240
              },
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "price" : 4.5,
              "title" : "Fresh Orange"
            } ],
            apply_button=true,
            background_image={
              "alt" : "Background",
              "height" : 699,
              "max_height" : 699,
              "max_width" : 403,
              "src" : get_asset_url('../images/home_banner_bg.png'),
              "width" : 403
            },
            button_settings={
              "button_text" : "Order Now",
              "button_type" : "std"
            },
            title="The Fastest <br>Grocery Store <br>in <b>Your City</b>!",
            title_header_type="1"
          %}
            {% module_attribute "content" %}
              <p>Lorem ipsum dolor sit amet, consectetur<br>adipiscing elit. Aliquam nascetur<br>consectetur a pretium diam. Nisl lorem.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "0px",
            "left" : "0px",
            "right" : "0px",
            "top" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Best Delivered Categories",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "left" : "0px",
          "right" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "bottom" : "0px",
            "left" : "0px",
            "right" : "0px",
            "top" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Handmade products",
            offset=0,
            width=12,
            apply_button=true,
            button={
              "button_text" : "Check out Now",
              "button_type" : "std"
            },
            card_section=[ {
              "icon" : {
                "icon_field" : {
                  "name" : "Bread Slice",
                  "type" : "SOLID",
                  "unicode" : "f7ec"
                },
                "icon_type" : "vector",
                "vector_icon" : {
                  "alt" : "Bread",
                  "height" : 48,
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : get_asset_url('../images/Bread.svg'),
                  "width" : 48
                }
              },
              "text_field" : "Quality Baked Bread"
            }, {
              "icon" : {
                "icon_field" : {
                  "name" : "Bread Slice",
                  "type" : "SOLID",
                  "unicode" : "f7ec"
                },
                "icon_type" : "vector",
                "vector_icon" : {
                  "alt" : "Chef Hat",
                  "height" : 48,
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : get_asset_url('../images/Chef_hat.svg'),
                  "width" : 48
                }
              },
              "text_field" : "All Kinds of Masses"
            } ],
            heading="Handmade, with an <b>Extra Pinch</b> of Love",
            heading_type="2",
            image_field={
              "alt" : "Handmade Product",
              "height" : 528,
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : get_asset_url('../images/Handmade_product.png'),
              "width" : 723
            }
          %}
            {% module_attribute "content" %}
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nascetur consectetur a pretium diam. Nisl lorem.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Groceries",
            offset=0,
            width=12,
            add_product=[ {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 320,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_1.jpeg'),
                "width" : 320
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 320,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_2.jpeg'),
                "width" : 320
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 320,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_3.jpeg'),
                "width" : 320
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 360,
                "loading" : "lazy",
                "max_height" : 360,
                "max_width" : 480,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_4.jpeg'),
                "width" : 480
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 319,
                "loading" : "lazy",
                "max_height" : 319,
                "max_width" : 480,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_5.jpeg'),
                "width" : 480
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 360,
                "loading" : "lazy",
                "max_height" : 360,
                "max_width" : 480,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_6.jpeg'),
                "width" : 480
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 360,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_7.jpeg'),
                "width" : 360
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 479,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_8.jpeg'),
                "width" : 479
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            }, {
              "image_field" : {
                "alt" : "Grocery",
                "height" : 480,
                "loading" : "lazy",
                "max_height" : 480,
                "max_width" : 384,
                "size_type" : "auto",
                "src" : get_asset_url('../images/Grocery_item_9.jpeg'),
                "width" : 384
              },
              "price_in_" : "6.79",
              "title" : "Cabbage"
            } ],
            button_text="Load More",
            heading="Choose <b>Your</b> Groceries",
            heading_type="3"
          %}
            {% module_attribute "content" %}
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nascetur.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/Quality products - Global",
            offset=0,
            width=12,
            heading="Understand How We Deliver <b>Quality Products</b> to You",
            heading_type="3",
            quality_products_item=[ {
              "content" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              "icon" : {
                "icon_field" : {
                  "name" : "Briefcase",
                  "type" : "SOLID",
                  "unicode" : "f0b1"
                },
                "icon_type" : "vector",
                "vector_icon" : {
                  "alt" : "Bag",
                  "height" : 26,
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : get_asset_url('../images/Bag.svg'),
                  "width" : 28
                }
              },
              "product_process" : [ "Lorem ipsum dolor sit", "Lorem ipsum dolor sit", "Lorem ipsum dolor sit" ]
            }, {
              "content" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
              "icon" : {
                "icon_field" : {
                  "name" : "Briefcase",
                  "type" : "SOLID",
                  "unicode" : "f0b1"
                },
                "icon_type" : "vector",
                "vector_icon" : {
                  "alt" : "Bag",
                  "height" : 26,
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : get_asset_url('../images/Bag.svg'),
                  "width" : 28
                }
              },
              "product_process" : [ "Lorem ipsum dolor sit", "Lorem ipsum dolor sit", "Lorem ipsum dolor sit" ]
            } ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  {% end_dnd_area %}

</main>
{% endblock body %}